.theme-black {
    --bg-img: url('/assets/ThemeImages/blackMascot.png');
    --bg-color: rgb(21,11,0);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(21,11,0);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent:rgb(166,159,157);
    --avatar: url('/assets/Mana/black.png');
  }
  
  .theme-blue {
    --bg-img: url('/assets/ThemeImages/blueMascot.png');
    --bg-color: rgb(14, 104, 171);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(14,104,171);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent: rgb(179, 206, 234);
    --avatar: url('/assets/Mana/blue.png');
  }
  
  .theme-colorless {
    --bg-img: url('/assets/ThemeImages/colorlessMascot.png');
    --bg-color: rgb(125,125,125);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(125,125,125);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent: rgb(200,200,200);
    --avatar: url('/assets/Mana/colorless.png');
  }
  
  .theme-default {
    --bg-img: url('/assets/ThemeImages/default.png');
    --bg-color: rgb(152,73,30);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(152,73,30);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent:orange;
    --avatar: url('/assets/Mana/default.png');
  }
  
  .theme-green {
    --bg-img: url('/assets/ThemeImages/greenMascot.png');
    --bg-color: rgb(0, 115, 62);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(0,115,62);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent:rgb(196, 211, 202);
    --avatar: url('/assets/Mana/green.png');
  }
  
  .theme-red {
    --bg-img: url('/assets/ThemeImages/redMascot.png');
    --bg-color: rgb(211, 32, 42);
    --inset-bg: rgba(0,0,0,0.5);
    --input-border: rgb(211,32,42);
    --text-color: rgb(255,255,255);
    --text-low-contrast: rgb(0,0,0);
    --accent: rgb(235, 159, 130);
    --avatar: url('/assets/Mana/red.png');
  }
  
  .theme-white {
    --bg-img: url('/assets/ThemeImages/whiteMascot.png');
    --bg-color: rgb(248, 231, 185);
    --inset-bg: rgba(255,255,255,0.5);
    --input-border: rgb(248,231,185);
    --text-color: rgb(0,0,0);
    --text-low-contrast: rgb(255,255,255);
    --accent:rgb(249, 250, 244);
    --avatar: url('/assets/Mana/white.png');
  }