@use 'themes';

body {
    background:var(--bg-img) fixed no-repeat right top var(--bg-color);
    background-size:contain;
    transition-duration:0.7s;
  }
  .register {
    margin: 50px 5%;
    width: 40%;
    min-width:400px;
    min-height:850px;
    background:var(--inset-bg);
    text-align:center;
    padding:50px 100px;
  }
  .login-toggle {
    position:relative;
    font-family:var(--font-sans);
    font-size:0.6rem;
    color:var(--text-color);
    font-weight:900;
    letter-spacing:2px;
    background:var(--inset-bg);
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:7px;
    transition-duration:0.5s;
  }
  .toggle-slider {
    background: var(--inset-bg);
    border:2px solid var(--input-border);
    border-radius:8px;
    transition-duration:0.7s;
    height:50px;
    width:50%;
    position:absolute;
    left:50%;
    top:0;
  }
  .login-toggle label {
    height:50px;
    width:50%;
    align-content:center;
    cursor:pointer;
    border-radius:7px;
    position:relative;
  }
  .login-toggle input {
    display:none;
  }
  #login:checked ~ .toggle-slider {
    left:0;
  }
  .registrationlogo {
    height:125px;
    margin:0 auto 25px;
  }
  .registration, .login {
    margin:50px 0;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    gap:50px;
    justify-content:flex-start;
  }
  .registration select, .registration input, .login select, .login input {
    height:50px;
    font-family:var(--font-sans);
    color:var(--text-color);
    font-size:0.8rem;
    text-align:center;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:3px;
    background:var(--inset-bg);
    border:2px solid var(--input-border);
    border-radius:7px;
  }
  .registration select option, .login select option {
    background:#000;
    color:#fff;
    letter-spacing:3px;
  }
  .registration ::placeholder, .login ::placeholder {
    color:var(--text-color);
  }

  .registration button, .login button {
    height:50px;
    font-family: var(--font-serif);
    font-size:0.8rem;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:4px;
    background:linear-gradient(to bottom right, var(--bg-color) 50%, var(--accent), var(--bg-color));
    background-size:100%;
    background-position: top left;
    color:var(--text-color);
    border:0;
    border-radius:0.5rem;
    transition:0.4s;
    box-shadow:5px 5px 5px var(--text-low-contrast);
    cursor:pointer;
}

.registration button:hover, .login button:hover {
    transform: translate(3px, -3px);
    border:0;
    background-size:200%;
    background-position:bottom right;
    box-shadow:10px 10px 5px var(--text-low-contrast);
}

.registration button:active, .login button:active {
    transform: translate(0);
    box-shadow:5px 5px 5px var(--text-low-contrast);
}
  
  @media (max-width:1500px) or (max-height:700px) {
    #bedecked {
      background-size:cover;
      background-position: center top;
    }
    .theme-default, .theme-white {
      background-position:right top !important;
    }
  }
  @media (max-width:900px) {
   .register, .login {
      width:calc(100% - 100px);
    }
  }