@use '../../../styles/typography.scss' as *;
@use '../../../styles/_themes.scss' as *;
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
:root {
  font-family: "Yusei Magic", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

.theme-black {
  --bg-img: url("../public/themeimages/blackMascot.png");
  --bg-color: rgb(21,11,0);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(21,11,0);
  --text-color: rgb(255,255,255);
}

.theme-blue {
  --bg-img: url("../public/themeimages/blueMascot.png");
  --bg-color: rgb(14, 104, 171);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(14,104,171);
  --text-color: rgb(255,255,255);
}

.theme-colorless {
  --bg-img: url("../public/themeimages/colorlessMascot.png");
  --bg-color: rgb(125,125,125);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(125,125,125);
  --text-color: rgb(255,255,255);
}

.theme-default {
  --bg-img: url("../public/themeimages/default.png");
  --bg-color: rgb(152,73,30);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(152,73,30);
  --text-color: rgb(255,255,255);
}

.theme-green {
  --bg-img: url("../public/themeimages/greenMascot.png");
  --bg-color: rgb(0, 115, 62);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(0,115,62);
  --text-color: rgb(255,255,255);
}

.theme-red {
  --bg-img: url("../public/themeimages/redMascot.png");
  --bg-color: rgb(211, 32, 42);
  --inset-bg: rgba(0,0,0,0.5);
  --input-border: rgb(211,32,42);
  --text-color: rgb(255,255,255);
}

.theme-white {
  --bg-img: url("../public/themeimages/whiteMascot.png");
  --bg-color: rgb(248, 231, 185);
  --inset-bg: rgba(255,255,255,0.5);
  --input-border: rgb(248,231,185);
  --text-color: rgb(0,0,0);
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.nav a {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  color: white;
  font-style: normal;
  text-decoration: none;
}
.nav a:hover {
  background-color: #f9f9f9;
  color: black;
}

$font-size-regular: 1rem;
$font-weight-regular: 400;

.sidebar {
  min-height:100vh;
  font-family: var(--font-sans);
  
  & a:link, & a:active, & a:visited {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing:1px;
  }
}

.avatara {
  display:flex;
  height:50px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom:10px;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  font-size: $font-size-regular;
  font-weight: $font-weight-regular;

  & a:link, & a:active, & a:visited {
    padding: .5rem 1rem;
    color: var(--text-color);
    font-style: normal;
    text-decoration: none;
    letter-spacing:2px;
    border:2px solid transparent;
    transition-duration:0.3s;
    background-color:transparent;
  }

  & a:hover {
    background-color:var(--inset-bg);
    border: 2px solid var(--bg-color);
  }
}

.sidebarbutton {
  background-color: transparent;
  color: var(--text-color);
  font-weight:400;
  padding:.5rem 1rem;
  margin:0;
  letter-spacing:2px;
  position:relative;
  border:2px solid transparent;
  transition-duration:0.3s;
}

.sidebarbutton:hover {
  background-color:var(--inset-bg);
  border:2px solid var(--bg-color);
}

.decksmenu {
  list-style-type: square;
  margin-left:10px;
}