
@use './styles/typography.scss' as *;

$primary: darkgray;
$white: #ecf0f1;
$black: #2c3e50;

.container {
    height: 100%;
    display: grid; 
    padding: 20px; 
    border: $black 1px solid;    
}

.topContainer {
    display: flex; 
    align-items: center; 
    width: 100%;
}

.bottomContainer {
    display: flex; 
    align-items: center;
}

.deckContainer {
    display: flex; 
    justify-content: space-between;
    
}

.title {
    background-color: $white ;
    opacity: 0.8;
    display: flex; 
    padding: 10px;
    font-weight: bold;
}

.icon {
    font-size: 50px;
    display: flex; 
}

.button {
    font-size: 16px;
    margin: 10px;
    position: relative; 
    border: none; 
    color: $black;

    &:hover {
        background-color: $black;
        color: $white;
    }

}

.card {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: $black 1px solid;
    border-radius: 10px;
    background-color: $white;
    opacity: 0.8;

    &:hover {
        background-color: $white;
        opacity: 1;
    }
}

.clickableTitle {
    cursor: pointer;
    transition: color 0.3s ease;
}

.clickableTitle:hover {
    color: $black
}

